body {
    min-height: 100dvh;
    color: #FFFFFF;
    user-select: none;
}

.font1 {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font2 {
    font-family: "Bitcount Grid Double", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.font3 {
    font-family: "Delius", cursive;
    font-style: normal;
    font-size: 32px;
    font-weight: 600;

}

/* .page_header {
    border: 3px solid red;
    height: 200px;
} */
header {
    position: fixced;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

/* header section 1,top section */
.header_section_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #8c0000;
    padding-inline: 50px;
}

.info_nav {
    display: flex;
    column-gap: 20px;
}

.info_nav>p {
    cursor: pointer;
    transition: .4s;
}

.info_nav>p:hover {
    transform: translateY(-5px);
}

/* carousel div */
.carousel_text_div {
    position: relative;
    width: 500px;
    text-align: center;
}

.carousel_text>a {
    display: inline-block;
    color: #FFFFFF;
}

.scroll_up {
    position: absolute;
    animation: scrollUp 2s forwards;

}

.scroll_down {
    position: absolute;
    animation: scrolldown 2s forwards;
}

.text1 {
    visibility: visible;
    opacity: 1;
}

.text2 {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


@keyframes scrollUp {
    0% {
        visibility: hidden;
        opacity: 0;
        top: 34px;
    }

    100% {
        visibility: visible;
        opacity: 1;
        top: -5px;
    }
}

@keyframes scrolldown {
    0% {
        visibility: visible;
        opacity: 1;
        top: -5px;
    }

    50% {
        visibility: hidden;
        opacity: 0;
        top: -30px;
    }

    100% {
        opacity: 0;
        top: 50px;
    }

}

.link {
    text-decoration: underline;
    transition: .3s;
}

.link:hover {
    color: #ff0000;
    transform: scale(1.1) translateY(-5px);
}

.log_in_div {
    display: flex;
    column-gap: 10px;
    align-items: center;
    cursor: pointer;
}

.log_in {
    font-weight: 600;
}

.avatar_gif {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

/* header section 2, bottom section */
.header_section_bottom {
    background-color: #EB1414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    padding-inline: 40px;
}

.main_page_logo {
    color: #FFFFFF;
    transition: .5s;
}

.market {
    color: #8c0000;
    background-color: #FFFFFF;
    padding: 5px 5px;
    border-radius: 10px;
    font-weight: 700;
    transition: .5s;
}

.main_page_link:hover .main_page_logo {
    transform: scale(1.1);
    color: black;
}

.main_page_link:hover .market {
    background-color: #EB1414;
    color: #FFFFFF;
}

/* div for search input */
.search_div {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon_label>i {
    font-size: 22px;
    cursor: pointer;
    transition: .4s;
}

.icon_label>i:hover {
    transform: scale(1.1);
}

#search {
    outline: none;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: black;
    border-radius: 10px;
    border: 2px solid transparent;
    width: 350px;
    background-color: #ffffff;
    transition: .3s;
}

#search:hover {
    box-shadow: 0 0 10px #FFFFFF,
        0 0 15px #FFFFFF;
}

/* div for icons */
.icons_div {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.icons_div>i {
    font-size: 24px;
    cursor: pointer;
}

.cart_div {
    display: flex;
    align-items: center;
    column-gap: 3px;
    transform: .4s;

}

.cart_div>i {
    font-size: 24px;
    transition: .4s;
    cursor: pointer;
}

.cart_div:hover {
    transform: scale(1.1);
}

.fa-location-dot {
    font-size: 24px;
}

.minicar_gif {
    position: absolute;
    top: 125px;
    width: 32px;
    height: 32px;
    animation: carRide 2s ease-in-out forwards;
}

@keyframes carRide {
    from {
        right: 200px;
    }

    to {
        right: 145px;
    }
}

.cart_products {
    font-size: 18px;
    color: #8c0000;
    background-color: #FFFFFF;
    border-radius: 48%;
    padding: 4px 7px;

}

/* navigator */
.page_navigator {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100px;
}

.page_ul {
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.page_ul>li>a {
    font-size: 24px;
    color: black;
    cursor: pointer;
    transition: .4s;
}

.page_li>a:hover {
    color: #EB1414;
}

/* image carousel section */

.image_carousel_sect {
    position: relative;
    background-image: url("../images/carouselImages/bread.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    transition: .5s;
}

.image_carousel_text {
    display: flex;
    width: 500px;
    flex-direction: column;
    row-gap: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image_carousel_p {
    font-size: 32px;
    color: #4a8b79;
    font-weight: 600;
}

.image_carousel_h1 {
    /* color: #3f6cb3; */
    color: black;
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    word-spacing: 7%;
}

.hide {
    display: none;
}